# Ignore node_modules, logs, and other temporary files
node_modules
npm-debug.log
.DS_Store

# Ignore git files
.git
.gitignore

# Ignore environment variables (optional, if you use .env)
.env

# Ignore test files
tests/
